/*Jesse Preiner : CST221
CWEB280 - Shane McDonald && Ernesto Basoalto
formstyles.css

October 23rd 2014*/


body { font-size: 1em; }
body > div { 
    font-size: initial;
    border:appworkspace groove thin; 
    margin: 0 auto;
    padding: 5px;
    max-width: 50%; }
h1 { font-size: 2.5vw; }
h2 { font-size: 2vw; }
h1, h2 { font-family: sans-serif; }
ul { list-style-type: none; }
li { font-size: 2vw; }
a:link { color:#009999; }
a:visited { color: #9900cc; }
a:hover { color: #cc0033 }


form {

    margin: 0 auto;
    max-width: 100%;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 0.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    text-shadow: 1px 1px 1px #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.wrapper {margin:auto; max-width: 100%;}

fieldset {max-width: 70%; margin: 0 auto;}
legend {font: 1.5em fantasy; border-radius: 4px; background: linear-gradient(#DDD, #FFF); }
input[type="radio"]{ vertical-align: baseline; }
legend, input[type="select"], h1, h2 {box-shadow: 6px 6px 10px 0px rgba(0, 69, 115, 0.75);}

label.inputwrapper {display: block; margin: 10px 5px; font-size: 1.3em}
h1, h2, label.inputwrapper { font-family: fantasy; 
               font-weight: lighter; 
               text-align: center; 
               margin: auto;  }


#permit, #owner  {width: auto;}
.error { font: 1.5em sans-serif; color: tomato; }

input[type="text"], select {width: 50%; }
div { margin: 5px 5px; }
.fielderror {color: tomato;}

label.checkboxes, label.radios, input[type="text"], select  { display: block; }
a:link {color: #cc0033; }
a:visited {color : blueviolet; }
a:hover { color: black; }

#ownerBack {float: right;}

