table,fieldset,legend {
	margin:0px;padding:0px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #3f7f00;
	margin:5px;padding:2px;	
}
	
input[type='button'],input[type='submit'],input[type='reset'],table,fieldset,legend{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
	
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
	
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
	
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;

}
tr:last-child td:last-child {
	-moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}
tr:first-child th:first-child {
	-moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
tr:first-child th:last-child {
	-moz-border-radius-topright:14px;
	-webkit-border-top-right-radius:14px;
	border-top-right-radius:14px;
}
tr:last-child td:first-child{
	-moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}
tr:hover td{}

fieldset div:nth-child(odd), tr:nth-child(odd) { background-color:#d4ffaa; }
fieldset div:nth-child(even), tr:nth-child(even)    { background-color:#ffffff; }
fieldset div,td{
	vertical-align:middle;
	border:1px solid #3f7f00;
	border-width:0px 1px 1px 0px;
	padding:7px;
	font-size:1em;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
tr:last-child td{
	border-width:0px 1px 0px 0px;
}
tr td:last-child{
	border-width:0px 0px 1px 0px;
}
tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
input[type='button'],input[type='submit'],input[type='reset'],legend,tr:first-child th{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");
        background: -o-linear-gradient(top,#5fbf00,3f7f00);
	background-color:#5fbf00;
	border:0px solid #3f7f00;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #5fbf00 5%, #3f7f00 100%);
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5fbf00), color-stop(1, #3f7f00) );
	background:-moz-linear-gradient( center top, #5fbf00 5%, #3f7f00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fbf00", endColorstr="#3f7f00");
        background: -o-linear-gradient(top,#5fbf00,3f7f00);
	background-color:#5fbf00;
}
tr:first-child th:first-child{
	border-width:0px 0px 1px 0px;
}
tr:first-child th:last-child{
	border-width:0px 0px 1px 1px;
}
fieldset {min-width:15em;}
legend {padding: 5px 20px;}
fieldset div {margin: 10px 5px; padding: 3px 0; min-height: 1.75em;}
fieldset span {display: inline-block}
fieldset div label {display:inline-block; width:30%; min-width:10em;}
fieldset div span div{border:none; margin:0 ;padding:2px 0; min-height: 1em;}
fieldset span label{ width:auto; min-width: 0;}

fieldset div label:first-child {float:left;}
input, textarea, select, fieldset div span {box-sizing: border-box; width: 70%;}
input[type='button'], input[type='submit'], input[type='reset']{min-width: 10em; width:auto;}
input[type='radio'],input[type='checkbox']{margin-left:0; width:auto;}
span.fielderror {display: block; width:auto;color:#900; font-size:.6em;}
div.formbuttons {text-align: center;}

@media (max-width: 37em){
fieldset div label {display:block; width:100%; min-width:10em;}
span.fielderror {display: inline-block; margin-left:1em;}
input, textarea, select, fieldset div span {box-sizing: border-box; width: 100%}
fieldset span label{ display:inline-block; width:auto; min-width: 0;}
}