form {

    margin: 0 auto;
    max-width: 50%;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 0.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

fieldset {max-width: 70%; margin: 0 auto;}
legend {font: 1.5em fantasy; border-radius: 4px; background: linear-gradient(#DDD, #FFF); }
input[type="radio"]{ vertical-align: baseline; }
legend, input[type="select"] {box-shadow: 6px 6px 10px 0px rgba(0, 69, 115, 0.75);}

label.inputwrapper {display: block; margin: 10px 5px; font: 1.3em fantasy; font-weight: 100;}

input[type="text"], select {width: 50%; }
div { margin: 5px 5px; }
.fielderror {color: tomato;}

label.checkboxes, label.radios, input[type="text"]  {display: block;}

.wrapper {margin:auto; max-width: 100%;}
