body {
    font-family: sans-serif;
    width: 95%;   
}
.extraInfo, .error {
    font-size: 0.8em;
}

.error {text-align: center;}

div.error {
    border: 1px #000000 solid;
    width: 25%;
    margin: 0 auto;
    padding:5px;
}

p.extraInfo {
    text-align: center;
     bottom: 5px; position: initial;
}

form { max-width: 50%; margin: 0 auto; }

fieldset { width: 100%; }

.sessionInfo {
    margin: 0 65%;
}

div.sessionInfo {
    width: 25%;
    text-align: right;
    padding: 2px;
    border-bottom: 1px #000000 solid;
}

.welcome {
    text-align: center;
}

.accountInfo {
    clear:left;
    text-align: center;
}

#tableContainer {
    clear:left;
    text-align:center;    
}

td a {
    color: black;
}

td a:hover {
    color: highlight;
}

#unfriendly {
    float: right;
    font-size: 1em;
    font-family: sans-serif;
    
}
#unfriendly p {
    display: inline;
    
}
#unfriendly p a { 
    padding: 3px;
    text-decoration: none;
}

#memSys {
    text-align: center;
}

#memSys h1 {
    clear:right;
}

#headerContainer {
    background: rgba(240, 240, 240, 0.8);
    padding: 1%;
    border-radius: 8px;
}

#pageWrap {
    width:85%;
    margin: auto;
}
table a {
    vertical-align: -webkit-baseline-middle;
}

.invisible {
    display:none;
}
.permaHidden {
    display:none;
}

select {
    margin:0;
}

.btnUpdate, .btnDelete, .btnModify, .btnCancel {
    border:1px tomato ridge;
    padding: 3px;
    border-radius: 3px;
    margin: 1px;
    cursor:pointer;
}