fieldset {
    min-width:30em;
    border: 2px solid blue;
}

legend {
    margin-left:-.9em ;
    padding: .5em 1em;
    border: 2px solid blue;
}

fieldset div {
    margin: 1em .5em;
    padding: .25em 0;
    border-bottom: 1px solid blue;
}

label {
    width: 10em;
    display: inline-block
}

select, input[type='text'] {
    width: 15em;
}
