form {

    max-width: 75%;
    margin: 0 auto;
    background: #FFF;
    padding: 20px 30px 20px 30px;
    font: 0.8em "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    text-shadow: 1px 1px 1px #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.fielderror {
    color:tomato;
    font-size: 0.7em;
    
}
label {
    display: block;
    padding: 2px;
}
input {
    margin: 2px;
}
div {
    width: 50%;
}

fieldset {
width: 50%;
}

.extraInfo {
    font-family: sans-serif;
    font-size: 0.8em;
}
p.extraInfo {
    text-align: center;
}
