body {
    font-family: sans-serif;
    width: 95%;
            

}
.extraInfo, .error {
    font-size: 0.8em;
}

.error {text-align: center;}

div.error {border: 1px #cc0033 inset;}
p.extraInfo {
    text-align: center;
     bottom: 5px; position: initial;
}

form { max-width: 50%; margin: 0 auto; }
fieldset { width: 100%; }

.sessionInfo {
    //display: inline;
    //float: right;
    margin: 0 65%;
}
div.sessionInfo {
    width: 25%;
    text-align: right;
    padding: 2px;
    border-bottom: 1px #5fbf00 solid;
}

.welcome {
    text-align: center;
}
.accountInfo {
    clear:left;
    text-align: center;
}

#tableContainer {
    clear:left;
    text-align:center;
    
}